
<mat-card>
 
    <mat-card-title>Student Drive Form</mat-card-title>
    <mat-card-content>
        <form [formGroup]="driveform" (ngSubmit)="submit()">
<p>
    <mat-form-field appearance="fill">
      <mat-label>Company Name</mat-label>
      <input matInput  formControlName="company_name">
      <mat-error *ngIf="driveform.get('company_name').errors?.required">
          comapny name is required
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Company GST Number</mat-label>
      <input matInput  formControlName="gstnumber">
      <mat-error *ngIf="driveform.get('gstnumber').errors?.required">
         Gst number is required
      </mat-error>
      <mat-error *ngIf="driveform.get('gstnumber').errors?.pattern">
        Please Valid Gst Number
    </mat-error>
     
    </mat-form-field>
  </p>



  <p>
    <mat-form-field appearance="fill">
      <mat-label>No.of Resources </mat-label>
      <input matInput  formControlName="noofresourses">
      <mat-error *ngIf="driveform.get('noofresourses').errors?.required">
       Resource  is required
    </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Exp Required</mat-label>
      <input matInput formControlName="exp_required">
      <mat-error *ngIf="driveform.get('exp_required').errors?.required">
      Exprience is required
    </mat-error>
     
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>CTC</mat-label>
      <input matInput  formControlName="ctc">
      <mat-error *ngIf="driveform.get('ctc').errors?.required">
       ctc is required
    </mat-error>
      </mat-form-field>
  </p>
<p>
  <mat-form-field>
    <mat-label>Select Position</mat-label>
    <mat-select formControlName="wposition">
      <mat-option value="0">Full stack Developer</mat-option>
      <mat-option value="1">Ui Developer</mat-option>
      <mat-option value="2">Middleware/Backend Developer</mat-option>
      <mat-option value="3">Testing Engineer</mat-option>
    </mat-select>
    <mat-error *ngIf="driveform.get('wposition').errors?.required">
        Position is required
    </mat-error>
  </mat-form-field>
  <p>
  <mat-form-field>
    <mat-label>Select Joining Criteria</mat-label>
    <mat-select formControlName="joining_criteria">
      <mat-option value="0">NO training direct joining</mat-option>
      <mat-option value="1">3 month Internship then joining</mat-option>
    </mat-select>
    <mat-error *ngIf="driveform.get('joining_criteria').errors?.required">
        Joining field is required
    </mat-error>
  </mat-form-field>
  </p>
  <p>
  <mat-form-field>
   
    <mat-label>Education Criteria</mat-label>
    <mat-select formControlName="edu_crt">
      <mat-option value="0">BE</mat-option>
      <mat-option value="1">12TH</mat-option>
      <mat-option value="2">Other</mat-option>
    </mat-select>
    <mat-error *ngIf="driveform.get('edu_crt').errors?.required">
       Education is required
    </mat-error>
    </mat-form-field>
</p>

    <p>
        <mat-form-field appearance="fill" >
          <mat-label>Followp</mat-label>
         <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="follow_up">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="driveform.get('follow_up').errors?.required">
         Followup is required
        </mat-error>
        </mat-form-field>
       
      </p>
       <p>
        <mat-form-field>
          <mat-label>Bond</mat-label>
          <mat-select formControlName="bond">
            <mat-option value="0">1 year</mat-option>
            <mat-option value="1">2 year</mat-option>
          </mat-select>
          <mat-error *ngIf="driveform.get('bond').errors?.required">
           Bond is required
        </mat-error>
          </mat-form-field>
      </p>

      <div class="button">
    <button type="submit" mat-raised-button color="primary" [disabled]='!driveform.valid'>Create</button>
</div>

</form>
</mat-card-content>
<p>{{temp|json}}</p>
</mat-card> 

