
<mat-card>
    <mat-card-title>Registration Form</mat-card-title>
    <mat-card-content>
        <form [formGroup]="Registrationform" (ngSubmit)="submit()">
<p>
    <mat-form-field appearance="fill">
      <mat-label>FirstName</mat-label>
      <input matInput  formControlName="firstname">
      <mat-error *ngIf="Registrationform.get('firstname').errors?.required">
          First name is required
      </mat-error>
    </mat-form-field>
</p>

<p>
  <mat-form-field appearance="fill">
    <mat-label>LastName</mat-label>
    <input matInput  formControlName="lastname">
    <mat-error *ngIf="Registrationform.get('lastname').errors?.required">
        Last name is required
    </mat-error>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput  formControlName="username">
    <mat-error *ngIf="Registrationform.get('username').errors?.required">
        First name is required
    </mat-error>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>password</mat-label>
    <input type="password" input matInput  formControlName="password">
    <mat-error *ngIf="Registrationform.get('password').errors?.required">
       Password is required
    </mat-error>
    <mat-error *ngIf="Registrationform.get('password').errors?.minlength">
      Minimum Length 5 character is required
   </mat-error>
  </mat-form-field>
</p>
  <div class="button">
    <button type="submit" mat-raised-button color="primary" [disabled]='!Registrationform.valid'>Register</button>

  </div>

</form>
</mat-card-content>
 <!-- <p>{{temp|json}}</p> -->
</mat-card> 
