<h1 mat-dialog-title style="color: orchid;">Update DriveDetail</h1>
<p>{{temp|json}}</p>
<mat-dialog-content>
         <form [formGroup]="updateform" (ngSubmit)="submit()">
         
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Did</mat-label>
              <input readonly matInput  formControlName="did" [(ngModel)]="data.did">
            </mat-form-field>
          </p>

    <p>
    <mat-form-field appearance="fill">
      <mat-label>Company Name</mat-label>
      <input matInput  formControlName="company_name" [(ngModel)]="data.company_name">
      <mat-error *ngIf="updateform.get('company_name').errors?.required">
          comapny name is required
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>No.of Resources </mat-label>
      <input matInput  formControlName="noofresourses" [(ngModel)]="data.noofresourses">
      <mat-error *ngIf="updateform.get('noofresourses').errors?.required">
       Resource  is required
    </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Exp Required</mat-label>
      <input matInput formControlName="exp_required" [(ngModel)]="data.exp_required">
      <mat-error *ngIf="updateform.get('exp_required').errors?.required">
      Exprience is required
    </mat-error>
     
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>CTC</mat-label>
      <input matInput  formControlName="ctc" [(ngModel)]="data.ctc">
      <mat-error *ngIf="updateform.get('ctc').errors?.required">
       ctc is required
    </mat-error>
      </mat-form-field>
  </p>
<p>
  <mat-form-field>
    <mat-label>Select Position</mat-label>
    <select formControlName="wposition" [(ngModel)]="data.wposition" matNativeControl required>
      <option value="0">Full stack Developer</option>
      <option value="1">UI Developer</option>
      <option value="2">Middleware/Backend Developer</option>
      <option value="3">Testing Engineer</option>
    </select>
    <mat-error *ngIf="updateform.get('wposition').errors?.required">
        Position is required
    </mat-error>
  </mat-form-field>
  <p>
  <mat-form-field>
    <mat-label>Select Joining Criteria</mat-label>
    <select formControlName="joining_criteria" [(ngModel)]="data.joining_criteria" matNativeControl required>
      <option value="0">NO training direct joining</option>
      <option value="1">3 month Internship then joining</option>
    </select>
    <mat-error *ngIf="updateform.get('joining_criteria').errors?.required">
        Joining field is required
    </mat-error>
  </mat-form-field>
  </p>
  <p>
  <mat-form-field>
   
    <mat-label>Education Criteria</mat-label>
    <select formControlName="edu_crt" [(ngModel)]="data.edu_crt" matNativeControl required>
      <option value="0">BE</option>
      <option value="1">12TH</option>
      <option value="2">Other</option>
    </select>
    <mat-error *ngIf="updateform.get('edu_crt').errors?.required">
       Education is required
    </mat-error>
    </mat-form-field>
</p>

    <p>
        <mat-form-field appearance="fill" >
          <mat-label>Followp</mat-label>
         <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="follow_up" [(ngModel)]="data.follow_up">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="updateform.get('follow_up').errors?.required">
         Followup is required
        </mat-error>
        </mat-form-field>
       
      </p>
       <p>
        <mat-form-field>
          <mat-label>Bond</mat-label>
          <select formControlName="bond" [(ngModel)]="data.bond" matNativeControl required>
            <option value="0">1 year</option>
            <option value="1">2 year</option>
          </select>
          <mat-error *ngIf="updateform.get('bond').errors?.required">
           Bond is required
        </mat-error>
          </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Company GST Number</mat-label>
          <input matInput  formControlName="gstnumber" [(ngModel)]="data.gstnumber">
          <mat-error *ngIf="updateform.get('gstnumber').errors?.required">
             Gst number is required
          </mat-error>
          <mat-error *ngIf="updateform.get('gstnumber').errors?.pattern">
            Please Valid Gst Number
        </mat-error>
         
        </mat-form-field>
      </p>
      <div class="button">
        <mat-dialog-actions>
          <button type="submit" mat-raised-button color="primary" [disabled]='!updateform.valid'>Update</button>
        <button type=" " mat-raised-button color="primary" mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
      </div>
      
    </form>
  
</mat-dialog-content>





