 table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
   
} 
  
/* th {
    text-align: left;
    max-width: 300px;
    color:darkmagenta;
    font-size: small;

}
    */